<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css"  href="../static/css/style.css">
</head>
<body>
<div class="container">
    <header class='header'>
        <p>here's our navbar</p>
        </nav>
    </header>
    <nav class='menu'>
        <a href="#Home">Home</a>
        <a href="#News">News</a>
        <a href="#Posts">Posts</a>
        <a href="#Picture">Picture</a>
    </nav>
    <main>
        <h1 class="proposal">
            Project Proposal
        </h1>
        <img src="../static/panic.jpg" alt="Time To Panic">
        <p>Oh crap, we've got to show something to the boss on Friday and nothing works!</p>
    </main>
</div>
</body>
</html>